html {
  font-family: "muktamahee-regular", sans-serif;
}

h1{
  font-size: 40px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

h2 {
  font-size: 40px;
  text-align: center;
  background-color:#b3ffff;
  padding-top: 15px;
  padding-bottom: 15px;
}

.aboutme {
  background-color:#b3ffff;
  text-align: center;

}

.linksClass {
  position: absolute;
  right:5px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 10px;
}

.button {
  background-image:linear-gradient(to bottom, #002080, lightblue);
  height: 300px;
}

.btn{
  position:relative;
  color:white;
  border: solid 1px white;
  border-radius: 12%;
  height: 50px;
  width: 75px;
  text-align: center;
  line-height: 50px;

  margin:0 auto;
  top:50%;
  transform:translateY(-50%);
}

.btn:hover {
  opacity: 0.5;
}

.btn:active {
  color:black;
}

.inLineImages {
  vertical-align: middle;
  text-align: center;
  margin-left: 100px;
  margin-right: 100px;
}

.images {
  background-image: linear-gradient(to bottom, #b3ffff, #002080 95%);
  padding-top: 5px;
}

.copyright {
  background-color: #000000;
  height:50px;
  color:white;
  line-height: 50px;
  vertical-align: middle;
}

.flex-container {
  display:flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  flex-wrap:wrap;
  flex-grow: 1;
  width: 90%;
  transform: translateX(5%);
}

.gallery-section {
  background-image: linear-gradient(to bottom, lightblue, lightgray, white);
}

.owl-meme {
  padding-top: 1%;
  padding-bottom: 1%;
}

.photo{
  background-image: url("skyline-photo.png");
  background-repeat: no-repeat;
  background-size: cover;
  overflow:hidden;
}

@keyframes big {
  50%{
    transform: translateY(3200%);
    transform:scale(1.5);
  }
}

.animated-click {
  position:relative;
  text-align: center;
  transform: translateY(3200%);
  color: white;
  transition: color 1s ease-in-out;
}

.animated-click:hover {
  color:red;
  animation: big 3s ease-in-out;
}
