
@font-face {
    font-family: 'apple-sd-gothic-neoregular';
    src: url('fonts/apple-sd-gothic-neo-regular-5a9f77e72cb1a-webfont.eot');
    src: url('fonts/apple-sd-gothic-neo-regular-5a9f77e72cb1a-webfont.eot?#iefix') format('embedded-opentype'),
         url('fonts/apple-sd-gothic-neo-regular-5a9f77e72cb1a-webfont.woff2') format('woff2'),
         url('fonts/apple-sd-gothic-neo-regular-5a9f77e72cb1a-webfont.woff') format('woff'),
         url('fonts/apple-sd-gothic-neo-regular-5a9f77e72cb1a-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

html, body, div, span {
  font-size: 16;
  font-family: apple-sd-gothic-neoregular;
  max-width: 100%;
  height: 100%;
  overflow: hidden;
  margin:0;
  text-align: center;
}

img {
  height:250px;
  width: auto;
}

.full-page-background img{
  position: fixed;
  width: 100%;
  height:100%;
  left:-0%;
}


.page-content-container {
  position:relative;
  text-align: center;
  color:white;
}

.about-nav, .contact-nav {
  background-color: #333;
  text-align: center;
}

.pageheader {
  background: rgba(0,0,0,0.25);
  position: fixed;
  top:0;
  width: 100%;
  z-index:1;
}


.index-footer {
  background: rgba(0,0,0,0.4);
}


.about-footer-container, .contact-footer-container, .about-nav, .contact-nav {
  overflow: hidden;
  background-color: #333;
  text-align: center;
}

nav {
  position: relative;
  top:0;
  width:100%;
}

.index-footer {
  position: fixed;
  bottom:0;
  width: 100%;
  height:64px;
}

footer {
  position: fixed;
  bottom:0;
  width: 100%;
  padding-top: 10px;
  padding-bottom:10px;
}

.about-footer, .contact-footer {
  position: fixed;
  bottom:0;
  width: 100%;
  background-color: #333;
  text-align: center;
}

nav a {
  font-size: 1.5em;
  height: 64px;
  line-height: 64px;
  padding-left: 50px;
  padding-right: 50px;
  text-shadow:
  -0.5px -0.5px 0 #000,
  0.5px -0.5px 0 #000,
  -0.5px 0.5px 0 #000,
  0.5px 0.5px 0 #000;
  cursor:pointer;
  transition: all 0.3s ease;
}

footer a {
  padding-left: 12px;
  padding-right: 12px;
  transition: all 0.3s ease;
}

a:link {
  color: white;
  text-decoration: none;
}

a:visited {
  color:white;
  text-decoration: none;
}

footer a:hover {
  color:black;
  text-decoration: none;
}

a:hover {
  color:lightgrey;
  cursor: pointer;
  text-decoration: none;
}

a:active {
  color:black;
  text-decoration: none;
}

.footer-container {
  overflow: hidden;
  justify-content:space-around;
  align-items: center;
  width:100%;
}

.center-container {
  margin-top: 64px;
  overflow-y: scroll;
}

#quotecontainer {
  background: linear-gradient(to left top, black, gold);

}

.fab {
  padding: 20px;
  width: 24px;
  font-size: 24px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fab:hover {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease;
}

.fa-instagram {
  background: radial-gradient(circle at 33% 100%, #FED373 4%, #F15245 30%, #D92E7F 62%, #9B36B7 85%, #515ECF);
  color:white;
}

.fa-soundcloud {
  background: #ff7700;
  color:white;
}

.fa-linkedin-in {
  background: #0077B5;
  color:white;
}

h1 {
  font-size: 1.7em;
  transition: all 0.5s ease;
  color:white;
  cursor: default;
  padding: 10px;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#submitdiv {
  height: 67px;
  width: 100%;
}

#map {
  height: 400px;
  width: 400px;
}

h2 {
  font-size:1.5em;
  transition: all 0.5s ease;
}

h3 {
  font-size: 1.3em;
  padding: 5px;
  transition: all 0.5s ease;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

.text-container {
  margin-left: 160px;
  margin-right: 160px;
  margin-top: 30px;
  overflow: hidden;
  opacity:0;
  -webkit-animation: fadein 2.5s 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s 1s forwards; /* Firefox < 16 */
  -ms-animation: fadein 2.5s 1s forwards; /* Internet Explorer */
  -o-animation: fadein 2.5s 1s forwards; /* Opera < 12.1 */
  animation: fadein 2.5s 1s forwards;
  transition: all 0.5s ease;
  line-height: 42px;
  letter-spacing: normal;
  text-shadow:
  -1px -1px 0 #ffffff,
  1px -1px 0 #ffffff,
  -1px 1px 0 #ffffff,
  1px 1px 0 #ffffff;
}

.title-container {
  margin-top: 265px;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: fadein 3s 6.5s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3s 6.5s forwards; /* Firefox < 16 */
  -ms-animation: fadein 3s 6.5s forwards; /* Internet Explorer */
  -o-animation: fadein 3s 6.5s forwards; /* Opera < 12.1 */
  animation: fadein 3s 6.5s forwards;
  transition: all 0.5s ease;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

.title-container:hover {
  transform: scale(1.07);
}

.title-container a:hover {
  color:#fff;
}

.title2 {
  display: none;
}

#link-title {
  transition: all 0.5s ease;
  padding:5px;
  height: 20%;
  position: relative;
  top:10%;
  display: inline-block;
  -webkit-animation: none; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: none; /* Firefox < 16 */
  -ms-animation: none; /* Internet Explorer */
  -o-animation: none; /* Opera < 12.1 */
  animation: none;
}

#link-title:hover {
  transform: scale(1.1);
}

.firstplaximg, .secondplaximg, .thirdplaximg, .bottomplaximg, .contactimg {
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.firstplaximg {
  background-image: url("images/mountains-boardwalk.jpeg");
  min-height: 100%;
}

.secondplaximg {
  background-image: url("images/work-desk.jpeg");
  min-height: 400px;
}

.thirdplaximg {
  background-image: url("images/personal-desk.jpeg");
  min-height: 400px;
}

.bottomplaximg {
  background-image: url("images/bw-mountain.jpeg");
  min-height: 400px;
}

.contactimg {
  background-image: url("images/cows-and-landscape.jpeg");
  min-height: 100%;
  opacity: 0.915;
}

.caption {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 23%;
  width: 100%;
  text-align: center;
  color: #a7adba;
  opacity:0;
  -webkit-animation: fadein 3.5s 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 3.5s 1s forwards; /* Firefox < 16 */
  -ms-animation: fadein 3.5s 1s forwards; /* Internet Explorer */
  -o-animation: fadein 3.5s 1s forwards; /* Opera < 12.1 */
  animation: fadein 3.5s 1s forwards;
  transition: all 0.5s ease;
}

.caption2 {
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 42.5%;
  width: 100%;
  text-align: center;
  text-shadow:
  -1px -1px 0 #fff,
  1px -1px 0 #fff,
  -1px 1px 0 #fff,
  1px 1px 0 #fff;
}

.caption span.container-title {
  color: #fff;
  font-size: 1.5em;
  overflow: hidden;
  line-height: 60px;
  padding: 16px;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  display:inline-block;
  text-shadow:
  -1px -1px 0 #000,
  1px -1px 0 #000,
  -1px 1px 0 #000,
  1px 1px 0 #000;
}

#hobbiesid {
  top:25%;
}

.secondplaximg span, .thirdplaximg span {
  font-size: 1.5em;
  color:#000;
}

.bottomplaximg a {
  vertical-align: middle;
  transition: all 0.5s ease;
}

.whoamibio h2 {
  color:black;
  text-align: center;
}

.whoamibio {
  height: 300px;
}

.projects-and-past-work {
  height: 500px;
}

.hobbies {
  height: 450px;
}

.whoamibio, .whoamibio p {
  color:#777;
  text-align: center;
  text-align: justify;
  padding:40px 80px;
  line-height: 30px;
}

#h2-title {
  font-size: 1em;
}

#formtitle {
  color: #000;
  font-size: 1.9em;
  line-height: 1.5em;
  padding: 16px;
  letter-spacing: 2px;
  transition: all 0.5s ease;
  display:inline-block;
  text-shadow:
  -0.6px -0.6px 0 #fff,
  0.6px -0.6px 0 #fff,
  -0.6px 0.6px 0 #fff,
  0.6px 0.6px 0 #fff;
  height:11%;
}

#formmsg {
  font-size: 0.85em;
}

.inputs-container {
  height:100%;
}

.contact-div {
  text-align: center;
}

label, .contact-div {
  color:#fff;
  display:block;
  padding: 8px;
  line-height: 21.5px;
  vertical-align: middle;
  transition: all 0.5s ease;
  text-shadow:
  -0.8px -0.8px 0 #000,
  0.8px -0.8px 0 #000,
  -0.8px 0.8px 0 #000,
  0.8px 0.8px 0 #000;
}

input, textarea {
  width:100%;
  box-sizing: border-box;
  border: 1px #000 solid;
  border-radius: 3px;
  padding: 8px;
  transition: all 0.5s ease;
}

select {
  width:inherit;
  margin: 10px;
}

textarea {
  font-family: apple-sd-gothic-neoregular;
  font-size: 0.8em;
  height:150px;
  resize: none;
  transition: all 0.5s ease;
}

input[type="submit"] {
  width:auto;
  padding:10px 20px;
  margin-top: 10px;
  cursor:pointer;
  transition: all 0.4s ease;
}

input[type="submit"]:hover {
  color: #00001a;
  background: lightgray;
}

input:focus, textarea:focus {
  outline:none;
  border: 2px #f5821f solid;
}

input::placeholder, textarea::placeholder {
  color: #00001a;
}

.contactform {
  opacity: 0;
  -webkit-animation: fadein 2.5s 1s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 2.5s 1s forwards; /* Firefox < 16 */
  -ms-animation: fadein 2.5s 1s forwards; /* Internet Explorer */
  -o-animation: fadein 2.5s 1s forwards; /* Opera < 12.1 */
  animation: fadein 2.5s 1s forwards;
  transition: all 0.5s ease;
}

.forminputs {
  opacity: 0;
  margin: 0 auto;
  text-align: center;
  max-width: 330px;
  -webkit-animation: fadein 4s 3s forwards; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: fadein 4s 3s forwards; /* Firefox < 16 */
  -ms-animation: fadein 4s 3s forwards; /* Internet Explorer */
  -o-animation: fadein 4s 3s forwards; /* Opera < 12.1 */
  animation: fadein 4s 3s forwards;
  transition: all 0.5s ;
  transition-timing-function: ease-in;
}

.userinput {
  max-width: 271px;
 }

@media all and (max-width:1024px) {

  .text-container {
    margin-top: 60px;
    margin-left: 70px;
    margin-right:70px;
    line-height: 40px;
  }

  h2 {
    font-size: 1.175em;
  }

  #h2-title {
    font-size: 0.92em;
    margin-top: 10px;
  }

  .title1 {
    display: none;
  }

  .title2 {
    display: block;
  }

  .title-container {
    margin-top: 100px;
  }

  .caption {
    top:25%;
  }

}

@media all and (max-width:767px) {
  nav a {
    font-size: 1.25em;
    display: inline-block;
    padding-left: 5%;
    padding-right: 5%;
    height: 48px;
    line-height: 48px;
  }

  footer {
    height:48px;
    line-height: 48px;
  }


  .fab {
    padding: 15px;
    width: 18px;
    font-size: 18px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
  }

  h1 {
    font-size: 1.2em;
    text-shadow:
    -1px -1px 0 #D4AF37,
    1px -1px 0 #D4AF37,
    -1px 1px 0 #D4AF37,
    1px 1px 0 #D4AF37;
  }

  h2 {
    font-size: 1.175em;
  }

  h3 {
    font-size: 1.1em;
  }

  .text-container {
    line-height: 35px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-left: 40px;
    margin-right: 40px;
  }

  .title-container {
    margin-top: 170px;
  }

  .title1 {
    display: none;
  }

  .title2 {
    display: block;
  }

  .center-container {
    margin-top: 48px;
  }

  .caption span.container-title {
    font-size: 1.25em;
    line-height: 30px;
  }

  #h2-title {
    font-size: 0.92em;
    margin-top: 10px;
  }

  .whoamibio, .whoamibio p {
    padding: 20px 12px;
    margin-bottom: 16px;
  }

  .secondplaximg span, .thirdplaximg span {
    font-size: 1.32em;
  }
}
